<div class="row">
        <div >
         <h2>Ajouter une recette</h2>
         <div class="contact-section">
          <div class="container">
         
              
         <form [formGroup]="courseForm" (ngSubmit)="onSaveCourse()">
        <div class="col-md-6 form-line">

                <div class="form-group">
                       
                        <input type="text" id="name"
                               class="form-control" formControlName="name" placeholder="Nom de la recette">
                      </div>
                      <div class="form-group">
                       
                        <input type="text" id="duration"
                               class="form-control" formControlName="duration"placeholder="durée de cuisson">
                      </div>
              <!--            <div class="form-group">
                  
                           <input type="range" id="note" class="form-control" class="custom-range"   
                            formControlName="note"min="1" max="5" placeholder="Note"/>
                         </div>    
                           
                -->          
                 <div class="form-group">
                          <select id="difficulty" class="form-control" formControlName="difficulty">
                            <option value="">Difficulté</option>
                            <option value="Facile">Facile</option>
                            <option value="Moyen">Moyen</option>
                            <option value="Difficile">Difficile</option>

                          </select>
                        </div>


                        <div class="form-group">
                         <div   class="">
                        Categorie 
                        <label formArrayName="types" *ngFor="let order of courseForm.controls.types.controls; let i = index">
                            <input type="checkbox" [formControlName]="i" >
                            {{typesCategories[i].name}}
                          </label>
                         </div>
                  </div>
                             
                  <div class="form-group">
                     
                    <textarea type="text" id="ingredient"
                            class="form-control" formControlName="ingredient" placeholder="Ingrédients">
                          </textarea>

                   </div>

                     <div class="form-group">
                         
                             <select id="NBperson" class="form-control" formControlName="NBperson">
                               <option value="">Nombre de personnes</option>
                                    <option *ngFor="let I of itemNumberArray" value="{{I}}">{{I}}</option>
                            </select>
                      </div>

                      <div class="form-group">
                        <textarea id="preparation"
                                  class="form-control" formControlName="preparation" placeholder="Préparation">
                        </textarea>
                      </div>
                      <div class="form-group">
                        Ajouter une photo
                        <input type="file" (change)="detectFiles($event)"
                               class="form-control" accept="image/*">
                        <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
                    </div><!--    [disabled]=" fileIsUploading||courseForm.invalid"-->
                    <button class="btn btn-success"
                  
                          type="submit">Enregistrer
                    </button>
                    
                
                  </div>
         </form>
         </div>
</div>